<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="development, production">

        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <property name="LOGS" value="./var/log"/>
        <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>${LOGS}/demoLog.log</file>

            <encoder
                    class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOGS}/archived/demoLog_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>40MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="RollingFile" />
        </root>
        <logger name="com.sample.demoSample" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="RollingFile" />
        </logger>
    </springProfile>
</configuration>
